<li class = "nav-item">
  <%= link_to "Home", admins_root_path, class: "nav-link"%>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown">
    Pending
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <%= link_to(admins_approval_employee_approve_path, class: "dropdown-item") do %>
      <span>Employee to Company Access</span>
    <% end %>
    <div class = "dropdown-divider"></div>

    <%= link_to(admins_approval_chef_approve_path, class: "dropdown-item") do %>
      <span>Chef to Food Store Access</span>
    <% end %>
    <div class = "dropdown-divider"></div>

    <%= link_to(pending_carts_path, class: "dropdown-item") do %>
      <span>Pending Orders</span>
    <% end %>
    
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown">
    Show/Hide Notifications
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <%= link_to(admins_visible_chef_order_notification_path, class: "dropdown-item") do %>
      <span>For Chefs</span>
    <% end %>
    <div class = "dropdown-divider"></div>

    <%= link_to(admins_visible_employee_order_notification_path, class: "dropdown-item") do %>
      <span>For Employees</span>
    <% end %>
  </div>
</li>

<li class = "nav-item">
  <%= link_to("Logout", logout_path, method: :delete, class: "nav-link") %>
</li>