<% if notification.read %>
  <%= content_tag("div", class: "dropdown-item read", id: "notification-#{notification.id}" ) do %>
    <span class= "content d-block"><%= notification.content %></span>
    <small class = "float-right text-info"><%= notification.created_at.to_formatted_s(:short) %></small>
  <% end %>
<% else %>
  <%= content_tag("div", class: "dropdown-item unread", id: "notification-#{notification.id}" ) do %>
    <span class= "content d-block"><%= notification.content %></span>
    <div class="mark-btn text-right">
      <%= link_to("Mark as read", notification_path(notification), method: :put, data: { remote: true }, class: "btn btn-sm btn-warning") %>
    </div>
    <small class = "float-right text-info"><%= notification.created_at.to_formatted_s(:short) %></small>
  <% end %>
<% end %>
<div class = "dropdown-divider"></div>